<div id="djohno_nav">
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}djohno/style.css" />
  <ul>
    <li>
      <a href="{% url 'djohno_index' %}" title="Djohno home">Home</a>
    </li>
    <li>
      <a href="{% url 'djohno_400' %}" title="Djohno 400">400</a>
    </li>
    <li>
      <a href="{% url 'djohno_403' %}" title="Djohno 403">403</a>
    </li>
    <li>
      <a href="{% url 'djohno_404' %}" title="Djohno 404">404</a>
    </li>
    <li>
      <a href="{% url 'djohno_500' %}" title="Djohno 500">500</a>
    </li>
  </ul>
</div>
