html, body {
    margin: 0;
    height: 100%;
}

iframe {
    height: 100%;
    display: block;
    position: fixed;
}

#djohno_nav {
    width: 100%;
    background-color: #111;
    height: 55px;
    opacity: 0.8;
}

#djohno_nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 35px;
}

#djohno_nav ul li {
    float: left;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    background-color: #005580;
    margin: 0 15px 0;
    padding: 0.5em 1em;
}

#djohno_nav li a {
    color: #fff;
    text-decoration: none;
}

#djohno_nav li:hover {
    background-color: #0088cc;
}
